// SPDX-License-Identifier: (GPL-2.0 OR MIT)
//
// Device Tree file for LX2162A-SOM
//
// Copyright 2021 SolidRun Ltd. (rabeeh@solid-run.com)


#include "fsl-lx2160a.dtsi"

&crypto {
	status = "okay";
};

&dpmac17 {
	phy-handle = <&rgmii_phy1>;
	phy-connection-type = "rgmii-id";
};

&emdio1 {
	status = "okay";

	rgmii_phy1: ethernet-phy@1 {
		reg = <1>;
	};
};

&esdhc1 {
	mmc-hs200-1_8v;
	mmc-hs400-1_8v;
	bus-width = <8>;
	status = "okay";
};

&i2c0 {
	status = "okay";
	lx2162a-som-fan-temperature-ctrlr@18 {
		compatible = "ti,amc6821";
		reg = <0x18>;
		cooling-min-state = <0>;
		cooling-max-state = <9>;
		#cooling-cells = <2>;
	};
	tps5622@69 {
		compatible = "tps53679";
		reg = <0x69>;
	};

	config_eeprom: eeprom@57 {
		reg = <0x57>;
		compatible = "st,m24c02", "atmel,24c02";
	};
};

&i2c2 {
	status = "okay";
};

&i2c4 {
	status = "okay";

	variable_eeprom: eeprom@54 {
		reg = <0x54>;
		compatible = "st,m24m02", "atmel,24c2048";
	};
};

&i2c5 {
	status = "okay";
	rtc@6f {
		compatible = "microchip,mcp7940x";
		reg = <0x6f>;
	};
};

&fspi {
	status = "okay";

	flash@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "micron,m25p80";
		m25p,fast-read;
		spi-max-frequency = <50000000>;
		reg = <0>;
		/* The following setting enables 1-1-8 (CMD-ADDR-DATA) mode */
		spi-rx-bus-width = <8>;
		spi-tx-bus-width = <8>;
	};
};

&sata0 {
	status = "okay";
};

&sata1 {
	status = "okay";
};

&sata2 {
	status = "okay";
};

&sata3 {
	status = "okay";
};

&uart0 {
	status = "okay";
};

&uart1 {
	status = "okay";
};

&usb0 {
	status = "okay";
};


